* {
  margin: 0;
  padding: 0;
}

html{
  font-family: 'M PLUS 1p', sans-serif;
}

header {
  background: radial-gradient(circle farthest-corner   at right bottom,#009875 0,#198CEB 28%,#013C6E       52%,#4E703F 79%,#EBB87C 100%);
  width: 94%;
  opacity: 1;
  margin: 3%;
  position: relative;
  text-align: center;
  color: white;
}

header > img {
  width:100%;
  opacity: .4;
}

#frase {
  position: absolute;
  font-size: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 3px #024764;
}

#frase {
  color: white;
  animation-delay: 0s;
  animation-duration: 4s;
  animation-name: text-a;
  animation-iteration-count: infinite;
  flex: 1;
}

@keyframes text-a {
  0% {
    color: white;
  }
  100% {
    color: white;
    opacity: 0;
  }
}

.topnav {
  grid-area: topnav;
  text-align: right;
  display: flex;
  justify-content: space-between;
  color: black;
  margin-top: 1.5%;
}

nav >ul {
  display: flex;
  list-style: none;
  margin: 1.5em;
  margin-right: 3em;
  margin-top: 2.8em;
}

li{
  padding: 1.5em;
  list-style: none;
}

li a {
  text-decoration: none;
  color:black;
  list-style: none;
}

li a:hover{
  color: #6ACFFF;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

article{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5em;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33vw;
  height: 20vh;
  color:#fff;
  transition: background-color 0.55s ease;
  cursor: pointer;
  overflow: hidden;
  /* Estos códigos hacen que cada elemento tenga un recuadro y los distribuye equitativamente en la pantalla. */
}

.item:nth-child(1) {background-color: #9FFFD1;
  width: 29.3%;
  margin: 3%;
}
.item:nth-child(1):hover {background-color: #7FD4C1;}

.item:nth-child(2) {
  background-color: #A9D9EB;
  width: 29.4%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.item:nth-child(2):hover {background-color: #8CBBDA;}

.item:nth-child(3) {
  background-color: #EBBCAA;
  width: 29.3%;
  margin: 3%
  }
.item:nth-child(3):hover {background-color: #F3958D;}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  padding: 2em;
}

h4 {
  margin-left: 2em;
}

h4:hover{
  color: #6ACFFF;
}

.left {
  padding: .5em;
  margin: 1em;
  margin-left: 2.5em;
  grid-area: topnav;
  display: flex;
  font-size: 1.2rem;
  justify-content: flex-start;
  grid-column-start: 2;
  grid-column-end: 2;
  align-items: center;
}

main>div>img {
  padding: 1%;
  width:7%;
  margin-top: 1%;
  margin-bottom: 1%;
}

main {
  margin-top: 3em;
  margin-bottom: -1em;
}

/*
h3 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 1.5em;
  margin-top: .7em;
}
*/

.softwares {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  background-color: white;
  box-shadow: 2px 2px 5px grey;
}

footer {
  left:0px;
  bottom:0px;
  height:200px;
  width:100%;
  background-color: #3681A1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: center;
  width:100%;
  height: 170px;
  align-items: center;
}

.icons >a >img {
  padding: 1.2em;
  display: flex;
  justify-content: center;
}

.copyright {
  display: flex;
  align-content: flex-end;
  justify-content: center;
  color: #4D94B0;
  font-size: 1.2rem;
  background-color: #2A6D8D;
  width:100%;
  height:50px;
  padding-top: 1em;
}

div>p>a {
  text-decoration: none;
  color: white;
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
  .item{
    height: 30vh;
  }
  h2{
    font-size: 1.2rem;
  }
  p{
    font-size: 1.5rem;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
  p{
    font-size: 1.7rem;
    margin-left:3em;
    margin-right:3em;
  }
  li>a{
    font-size: 1.5rem;
  }
  .item{
    height:250px;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
  p{
    font-size: 1.5rem;
  }
  li>a{
    font-size: 1.5rem;
    margin-top:1em;
  }
  .item{
    height: 300px;
  }
}
/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
  p{
    font-size: 1.5rem;
  }
  li>a{
    font-size: 1.5rem;
    margin-top:1em;
  }
  .item{
    height: 300px;
  }
}
