*, *:before, *after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'M PLUS 1p', sans-serif;
  display: grid;
  grid-template-columns: repeat(minmax(20%, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-template-areas:
  "topnav topnav topnav topnav topnav"
  ". . . . ."
  ". . . . ."
  ". . h1 . ."
  ". . h3 . ."
  ". . icons . ."
  ". . . . ."
}

img {
  text-shadow: 3px 3px 12px #213256;
  padding: .7em;
}

.topnav {
  grid-area: topnav;
  text-align: right;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1rem;
}

nav >ul {
  display: flex;
  list-style: none;
  margin: 1.5em;
  margin-right: 3em;
}

li{
  padding: 1.5em;
}

li a {
  text-decoration: none;
  color:white;
}

ul a:hover{
  color: #6ACFFF;
}

h4:hover{
  color: #6ACFFF;
}

img:hover{
  color: #6ACFFF;
}

.left {
  padding: .5em;
  margin: 1em;
  margin-left: 2.5em;
  grid-area: topnav;
  display: flex;
  font-size: 1.2rem;
  justify-content: flex-start;
  grid-column-start: 2;
  grid-column-end: 2;
  align-items: center;
}

h4 {
  margin-left: 1em;
}

.icons {
  display: flex;
  justify-content: center;
  grid-area: icons;
}

h1{
  display: flex;
  grid-area: h1;
  font-size: 6.5rem;
  justify-content: center;
  text-shadow: 3px 3px 12px #213255;
  opacity: 100%;
  align-content: center;
}

h3 {
  display: flex;
  grid-area: h3;
  font-size: 2rem;
  justify-content: center;
  text-shadow: 3px 3px 12px #213255;
}

html {
  /*background-image: url("../images/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/

}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: .5;
  z-index: -100;
}

  body {
    background: radial-gradient(circle farthest-corner   at right bottom,#009875 0,#198CEB 28%,#013C6E       52%,#4E703F 79%,#EBB87C 100%);
    opacity: .9;
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 16px;
    color: white;
    position: relative;
    overflow: hidden;
  }

  /* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
  h1{
    font-size: 5rem;
    margin-top:-2.5em;
  }
  h3{
    font-size: 1.5rem;
    margin-top:-10em;
  }
  .icons{
    margin-top: -18em;
  }
  h4{
    margin-top: -1em;
  }
  img{
    margin-top: -1em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
  h1{
    margin-top:1em;
    font-size: 5.5rem;
  }
  .topnav{
    font-size: 1.5rem;
  }
  h4{
    font-size: 1.5rem;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
  h1{
    margin-top:-2.5em;
  }

  h3{
    margin-top:-7.5em;
  }
  .icons{
    margin-top:-18em;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
  h1{
    margin-top: 2em;
    font-size: 5rem;
  }
  h3{
    font-size: 2.5rem;
  }
  h4{
    font-size: 1.8rem;
    margin-top: -.1em;
  }
  .topnav{
    font-size: 1.5rem;
  }
  img{
    margin-top: 0em;
  }
}

/* iPhone 6, 7, 8 Landscape----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
  h1{
    margin-top: -3.8em;
    font-size: 3.7rem;
  }
  h3{
    margin-top: -12.5em;
    font-size: 1.5rem;
  }
  .icons{
    margin-top: -24em;
  }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
  h1{
    margin-top: 10em;
    font-size: 3.7rem;
  }
  h3{
    margin-top: -12.5em;
    font-size: 1.5rem;
  }
  .icons{
    margin-top: -24em;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
  h1{
    margin-top: 2.5em;
    font-size: 5.5rem;
  }
  h3{
    font-size: 3.5rem;
  }
  h4{
    font-size: 1.8rem;
    margin-top: -.1em;
  }
  .topnav{
    font-size: 1.5rem;
  }
  img{
    margin-top: 0em;
  }
}
