* {
  margin: 0;
  padding: 0;
}

html{
  font-family: 'M PLUS 1p', sans-serif;
}

.topnav {
  text-align: right;
  display: flex;
  justify-content: space-between;
  color: black;
}

nav >ul {
  display: flex;
  list-style: none;
  margin: 1.5em;
  margin-right: 3em;
  font-size: .9em;
}

li{
  padding: 1.5em;
  list-style: none;
}

li a {
  text-decoration: none;
  color:black;
}

ul a:hover{
  color: #6ACFFF;
}

div > li > a:hover{
  color: #6ACFFF;
}

.left {
  padding: .5em;
  margin: .2em;
  margin-left: 2.5em;
  display: flex;
  font-size: 1.2rem;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-size: 3.7em;
  display: flex;
  justify-content: center;
  margin: 5em;
  margin-bottom: 3em;
  margin-top: 2.5em;
}

#demo {
  /* position: fixed; */
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity:.9;
}

/* Add some content at the bottom of the video/page */
.text {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#button {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#button:hover {
  background: #ddd;
  color: black;
}


footer {
  left:0px;
  bottom:0px;
  height:200px;
  width:100%;
  background-color: #3681A1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: center;
  width:100%;
  height: 170px;
  align-items: center;
}

.icons >a>img {
  padding: 1.2em;
  display: flex;
  justify-content: center;
}

.copyright {
  display: flex;
  align-content: flex-end;
  justify-content: center;
  color: #4D94B0;
  font-size: 1.2rem;
  background-color: #2A6D8D;
  width:100%;
  height:50px;
  padding-top: 1em;
}

div>p>a {
  text-decoration: none;
  color: white;
}
